{% extends "base.html" %}

{% block customcss %}
{% endblock customcss %}

{% block content %}
  <h1>アニメ化</h1>
    <p>画像をアニメ化することができます。</p>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">変換</button>
  </form>

  {% if anime_obj == "" %}
    <br>
    <h3>例</h3>
    <td>
      <img src="/static/anime/before.jpg" width=700 height=auto />
      <img src="/static/anime/anime.jpg" width=700 height=auto />
    </td>
  {% else %}
    <br>
    <h3>変換結果</h3>
      <td>
        <img src="{{ anime_obj.image.url }}" width=700 height=auto />
        <img src="{{ anime_obj.anime_image.url }}" width=700 height=auto />
      </td>
  {% endif %}

{% endblock content %}